/*background image*/
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #303030;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #303030;
  height: 100%;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
}


/*===================
LEFT
===================*/

.pluto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303030;
  padding: 0;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}

#pluto {
  width: 100%;
  height: auto;
  max-height: 530px;
  max-width: 530px;
  min-width: 320px;
}

.block {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 30px;
  color: white;
  font-family: 'Cormorant Garamond', serif;
}

.block h1 {
  font-size: 30px;
}

.block-two {
  position: absolute;
  color: #BEF1F0;
  top: 85%;
  left: 2%;

  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

/*===================
RIGHT
===================*/

.copy {
  background-color: #303030;
  color: white;
  width: 100%;
  line-height: 32px;
}

#copy-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.p {
  padding-top: 25px;
  padding-bottom: 20px;
  font-size: 28px;
  color: #F1F1F1;
}

/*===================
MEDIA LINKS
===================*/

.media-links ul {
  display: flex;
  padding: 0;
  list-style: none;
  font-size: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.media-links i {
  padding-right: 26px;
}

.media-links a {
  text-decoration: none;
  color: white;
}

.media-links-box h4 a {
  color: white;
  padding-bottom: 25px;
  text-decoration: none;
}

.media-links-box h4 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding-right: 20px;
  margin-top: 5px;
}



/*hover stuff*/

#email:hover {
  color: #BEF1F0;
}

.fa-github-alt:hover {
  color: #533AA5;
}

.fa-linkedin:hover {
  color: #3F7CCC;
}

.fa-medium:hover {
  color: #9E4078;
}

.fa-twitter:hover {
  color: #3940AD;
}

/*===================
page resize
===================*/

@media (min-width: 640px) {

  .container {
    height: 100vh;
  }

  .copy {
    width: 45%;

  }

  .name {
    font-size: 24px;
    top: 0;
    left: 20px;
  }

  #copy-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pluto {
    width: 55%;
  }

  .block-two {
    left: 4%;
  }

  .p {
    padding-top: 30%;
  }

  .media-links-box h4 a {
    padding-bottom: 0;
  }

}


/*
#pluto
{
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  max-height: 530px;
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;

}
*/
/*
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -0.25em;
}

.wrapper:after {
  content: '';
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
/*
.pluto {
  background: url('images/pluto2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
*/
